.not-interested-button {
  background-color: #f2f2f2;
  border: none;
  align-items: center;
}

.thumbnail {
  border-radius: 8px;
}

.engagement-pannel {
  display: flex;
  flex-direction: row;
  border-radius: 18px;
  width: auto;
  height: 36px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 16px;
}

.engagement-pannel img {
  margin-right: 5px;
}

.not-interested-button p {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.not-interested-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.not-interested-button img {
  stroke-width: '2px';
}

.feedback-banner {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  width: 100%;
}

.feedback-banner img {
  max-width: 120px;
  max-height: 67px;
  border-radius: 8px;
}

.feedback-banner .text-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.feedback-banner p {
  flex-grow: 1;
  margin: 10px 0 10px 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.cancel-action-button {
  background-color: #ffffff;
  color: #065fd4;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.cancel-action-button:hover {
  background-color: #def1ff;
}
