/* Variables for reusability */

:root {
  --primary-background-color: #ffffff;
  --secondary-background-color: #f2f2f2;
  --emphase-color: #065fd4;
  --hover-background-color: rgba(0, 0, 0, 0.1);
  --hover-emphase-color: rgba(6, 95, 212, 0.1);
  --border-style: 2px solid #e5e5e5;
  --border-radius: 18px;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --font-family: 'Roboto', sans-serif;
  --h1-font-weight: 500;
  --h2-font-weight: 400;
  --h1-font-size: 16px;
  --h2-font-size: 14px;
  --padding: 12px;
  --inside-box-horizontal-margin: 0px 5px;
  --outside-box-horizontal-margin: 0px 10px;
  --outside-box-vertical-margin: 10px 0px;
  --engagement-button-max-height: 40px;
  --feedback-banner-max-height: 120px;
  --feedback-banner-max-width: 100%;
  --transition-duration: 0.3s;
}

/* 'Not Interested' button */

/* Button styles */

.not-interested-button {
  background-color: var(--secondary-background-color);
  border: none;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color var(--transition-duration);
}

.not-interested-button:hover {
  background-color: var(--hover-background-color);
}

.not-interested-button img {
  margin: var(--inside-box-horizontal-margin);
}

.not-interested-text {
  font-family: var(--font-family);
  font-weight: var(--h1-font-weight);
  font-size: var(--h1-font-size);
  margin: var(--inside-box-horizontal-margin);
}

/* Container styles */

.engagement-pannel {
  margin: var(--outside-box-horizontal-margin);
  max-height: var(--engagement-button-max-height);
}

.not-interested-container {
  display: flex;
  flex-direction: row;
}

/* Feedback Banner */

/* Feedback Banner styles */

.feedback-banner {
  background-color: var(--primary-background-color);
  border: var(--border-style);
  border-radius: var(--border-radius);
  margin: var(--outside-box-vertical-margin);
  max-height: var(--feedback-banner-max-height);
  max-width: var(--feedback-banner-max-width);
  padding: var(--padding);
  transition: transform var(--transition-duration),
    opacity var(--transition-duration);
  display: flex;
  align-items: center;
}

.banner-primary-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.banner-primary-container img {
  border-radius: var(--border-radius);
  margin: var(--inside-box-horizontal-margin);
  max-width: 60px;
  max-height: 60px;
}

.middle-row .banner-primary-container img {
  max-width: 240px;
  max-height: 135px;
}

.thumbnail-banner img {
  max-width: 160px;
  max-height: 90px;
}

.middle-row .text-button-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  margin-left: 360px;
}

.middle-row .text-button-container span {
  font-family: var(--font-family);
  font-weight: var(--h1-font-weight);
  font-size: var(--h1-font-size);
  color: #333;
}

.text-button-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-evenly;
  margin: var(--inside-box-horizontal-margin);
}

.text-button-container span {
  font-family: var(--font-family);
  font-weight: var(--h2-font-weight);
  font-size: var(--h2-font-size);
  margin-bottom: var(--padding);
  text-align: center;
}

.cancel-action-button {
  background-color: var(--primary-background-color);
  color: var(--emphase-color);
  border: none;
  border-radius: var(--border-radius);
  padding: var(--padding);
  font-family: var(--font-family);
  font-weight: var(--h1-font-weight);
  font-size: var(--h1-font-size);
  cursor: pointer;
  transition: background-color var(--transition-duration);
}

.cancel-action-button:hover {
  background-color: var(--hover-emphase-color);
}

popup-container {
  width: 300px;
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Tooltip styles */
.tooltip {
  position: absolute;
  background-color: #707070;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s;
  white-space: nowrap;
  transform: translate(30%, -200%);
}
